@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* font-family: 'Girassol', cursive; */
  margin-top: 25px;

}

.dashboardLine{
  width: 200px;
  border: 2px solid #ffa726;
  display: inline-block
}

.navbarLogo{
  width: 40px;
}

.aboutBody{
  width: 100%;
  height: 100vh;
  background-color: rgb(176, 212, 255);
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}

.aboutContainer{
  width: 60%;
  height: 75vh;
  /* border: 1px solid salmon; */
  margin-top: 5rem;
  text-align: center;
}

.coderImg{
  width: 50%;
}

.homePageButton{
  cursor: pointer;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color:  transparent;
  border: 2px solid #4285F4;
  margin-top: 2rem;
  font-size: 1.05rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.homePageButton:hover{
  background-color: #89b5fa;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}