@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* font-family: 'Girassol', cursive; */
  margin-top: 75px;

}

.dashboardLine{
  width: 200px;
  border: 2px solid #ffa726;
  display: inline-block
}